body > header {
	color: #ffffff;
	background-color: #000000;
	height: 120px;

	h1 {
		color: #ffffff;
		margin: 0;
	}
}

body > header .container {
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
}

body > header form[role="search"] {
	position: absolute;
	top: 10px;
	right: 70px;
}

body > header .login {
	position: absolute;
	top: 50px;
	right: 70px;

	a {
		color: #ffffff;
	}
}

body > header .brand {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	height: 147px;
	width: 300px;
	margin: 0 auto;
}

body > header nav li {
	float: left;
	display: inline;

	a {
		color: #ffffff;
	}
}

.metrics {
	width: 1100px;
	height: 330px;
	margin: 0 auto;

	.left {
		float: left;
		background-color: rgba(1, 1, 1, 0.5);
		margin-top: 50px;
		height: 280px;
		width: 305px;
	}

	.center {
		float: left;
		background-color: #000000;
		background-image: url('../images/featured.png');
		height: 330px;
		width: 490px;
	}

	.right {
		float: left;
		background-color: rgba(1, 1, 1, 0.5);
		margin-top: 50px;
		height: 280px;
		width: 305px;
	}
}

.submetrics {
	width: 1100px;
	height: 110px;
	margin: 0 auto;

	.tags {
		float: left;
		background-color: rgba(1, 1, 1, 0.5);
		width: 800px;
		height: 110px;
	}

	.pitchidea {
		float: left;
		background-color: #000000;
		width: 300px;
		height: 110px;
	}
}

